@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

/* Main Container */
.container {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 75px;
}

/* Nav Bar Styling where the Login form sits */
.navbar {
    background: rgb(255,255,255, 0.6);
    height: 50px;
}

nav {
    width: 100%;
    padding-top: 8px;
}

.login {
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
}

.loginForm > label > input {
    padding: 2px;
}

.loginBtn {
    margin-left: 10px;
    cursor: pointer;
}

.loginForm > label {
    margin-right: 10px;
}

/* Sign up box */
.signupSection {
    width: 300px;
    background: rgb(255,255,255, 0.6);
    min-height: 360px;
}

.signupForm {
    display: flex;
    flex-direction: column;
}

.signupForm > label {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.signupForm > label > input {
    float: right;
    width: 60%;
    margin-right: 10px;
    padding: 2px;
}

.signupBtn {
    width: 25%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 10px;
    cursor: pointer;
}

.signupForm > p {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

/* Title Box */
.title {
    width: 600px;
    padding-right: 40px;
    /* padding-left: 10px; */
}

.title > h1 {
    font-family: 'Merienda', cursive;
    font-size: 110px;
    margin: 0;
}

.title > p {
    font-size: 24px;
}

/* Demo Information */
.demoInfo {
    background: rgb(255,255,255, 0.6);
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.demoInfo > button {
    padding:  15px 20px;
    margin-top: 15px;
}

.demoInfo > button:hover {
    cursor: pointer;
    background-color: #D8BFD8 ;
}

.demoLogin {
    padding-bottom: 5px;
}

.popup-content {
    text-align: left;
    width: 250px;
}

.popup-content > ol {
    padding-left: 20px;
}


/* Media Queries for smaller screens */
@media only screen and (max-width: 1080px) {
    .container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 1050px) {
    .title {
        padding-right: 0;
    }
    .signup {
        margin-left: auto;
    }
}

@media only screen and (max-width: 1000px) {
    .title {
        margin-left: auto;
        margin-right: auto;
    }
    .signupSection {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .demoInfo {
        width: 300px;
    }
}

@media only screen and (max-width: 920px) {
    .title {
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 720px) {
    .signup {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 630px) {
    .signup {
        margin-right: auto;
    }
}

@media only screen and (max-width: 440px) {
    .title > h1 {
        font-size: 90px;
    }
  
    .navbar {
        height: 70px;
    }
}

@media only screen and (max-width: 390px) {
    .login {
        text-align: left;
    }
}

@media only screen and (max-width: 370px) {

    .loginForm > label {
        margin-left: 10px;
    }

    .loginBtn {
        position: absolute;
        top: 15px;
        right: 15px;
        margin-top: 5px;
        padding: 2px;
    }
}





