.timer {
    width: 35%;
    height: 600px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    color: black;
    background-color: rgba(255,255,255,0.3);
}

/* Countdown Timer */
.countDown {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #6d476d;
}

.countDown > p, .countdown > label {
    margin-left: 10px;
    margin-right: 10px;
}

.countDown > p {
    font-size: 75px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

/* Start and Input time */
.start {
    width: 40px;
    margin-left: auto;
    margin-right: auto;
}

.time {
    padding: 15px 0;
    font-size: 30px;
    text-align: center;
    border-radius: 25%;
    border: none;
    margin-left: 15px;
    background-color: rgba(0,0,0,0.2);
}

.time::placeholder {
    color: white;
}

.input > label {
    font-size: 25px;
}

.inputSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 25px;
}

/* Sound, background options and mute button */
.selections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.sounds, .backgrounds, .muteBtn {
    margin-left: 23px;
    margin-right: 23px;
}

.sounds, .backgrounds {
    width: 100px;
}

.muteBtn {
    max-height: 45px;
}

.soundOption, .bgOptions {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/* Button styling */
.startBtn, .soundsBtn, .bgBtn, .muteBtn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.startBtn:hover, .soundsBtn:hover, .bgBtn:hover {
    color: white;
}

.soundOption > button, .bgOptions > button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 15px;
    font-size: 18px;
}

.soundOption > button:hover, .bgOptions > button:hover {
    background-color: #D8BFD8;
}

.soundOption > button, .bgOptions > button {
    width: 90px;
}

/* Current selection */

.currentSelection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.currentSelection > h3 {
    width: 100%;
}

.currentSelection > div {
    width: 33%;
}

.fadeOut{
    opacity:0;
    width:0;
    height:0;
    transition: opacity 5s ease-out;
}

/* Completed */
.completed {
    position: absolute;
    width: 300px;
    background-color: black;
    color: white;
    opacity: 0.9;
    font-size: 22px;
}




@media only screen and (max-width: 1240px) {
    .timer {
        width: 50%;
    }
}

@media only screen and (max-width: 740px) {
    .timer {
        width: 65%;
    }
}

@media only screen and (max-width: 560px) {
    .timer {
        width: 90%;
    }
}

