.profileSection {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media only screen and (max-width: 730px) {
      .profileSection {
          width: 90%;
          margin-left: auto;
          margin-right: auto;
      }
  }