/* Profile Nav */
.profileNav {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    margin-top: 20px;
}

.timerLink {
    font-size: 24px;
    padding-left: 10px;
    text-decoration: none;
}

.logout {
    font-size: 24px;
    padding-left: 10px;
    text-decoration: none;
}
.profileNav > a:hover {
    color: black;
    text-decoration: underline;
}

/* Main Container for Profile  */
.profile {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

/* Stats styling */
.stats {
    width: 100%;
    color: rgb(0, 0, 0) ;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.3);
}

.stats > h1 {
    width: 100%;
    font-size: 30px;
    margin-bottom: 0;
    text-decoration: underline;
}

.stats > div > h3 {
    text-decoration: underline;
    font-weight: bold;
}

.lifetime, .lastentries {
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

@media only screen and (max-width: 1000px){
    .profileNav {
        width: 80%;
    }
}

@media only screen and (max-width: 730px) {
    .profile {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}